@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom styles for svg wave and gradients */
.wave-top {
  transform: rotate(180deg);
  margin-top: -1px;
}

.wave-bottom {
  margin-bottom: -1px;
}